/* line 1, ../scss/_sponsors.scss */
#navhind {
  background-image: url("../img/sponsors/navhind.png");
}

/* line 5, ../scss/_sponsors.scss */
#dbtv {
  background-image: url("../img/sponsors/dbtv.png");
}

/* line 9, ../scss/_sponsors.scss */
#bina {
  background-image: url("../img/sponsors/bina%20punjani.png");
}

/* line 13, ../scss/_sponsors.scss */
#butterfly {
  background-image: url("../img/sponsors/butterfly.png");
}

/* line 17, ../scss/_sponsors.scss */
#icici {
  background-image: url("../img/sponsors/iciciBank.png");
}

/* line 21, ../scss/_sponsors.scss */
#bilsoft {
  background-image: url("../img/sponsors/bilsoft_logo.png");
}

/* line 25, ../scss/_sponsors.scss */
#azzure {
  background-image: url("../img/sponsors/azzure.png");
}

/* line 29, ../scss/_sponsors.scss */
#radio-mirchi {
  background-image: url("../img/sponsors/radioMirchi.png");
}

/* line 7, ../scss/main.scss */
* {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  margin: 0;
}

/* line 12, ../scss/main.scss */
html, body {
  height: auto;
}

/* line 16, ../scss/main.scss */
a:focus {
  text-decoration: none;
  outline: none;
}

/* line 22, ../scss/main.scss */
#nanoGallery {
  min-height: 600px;
}

/* line 26, ../scss/main.scss */
.nanoLogo {
  display: none !important;
}

/* line 31, ../scss/main.scss */
#sidr {
  display: none;
}
/* line 35, ../scss/main.scss */
#sidr li a {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}
/* line 41, ../scss/main.scss */
#sidr li:hover {
  border-top: 1px solid transparent;
  line-height: 48px;
}

/* line 49, ../scss/main.scss */
.modal-lg {
  width: 80%;
}

/* line 53, ../scss/main.scss */
.section {
  overflow: hidden;
}

/* line 57, ../scss/main.scss */
.title {
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  font-size: 3em;
  border: 5px solid;
  max-width: 500px;
  margin: 30px auto;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

/* line 69, ../scss/main.scss */
.other-row {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
}
/* line 74, ../scss/main.scss */
.other-row p {
  font-weight: bold;
}
/* line 78, ../scss/main.scss */
.other-row hr {
  margin-bottom: 0;
}

/* line 84, ../scss/main.scss */
hr {
  border-color: #444;
}

/* line 88, ../scss/main.scss */
.infobox {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 3%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 95, ../scss/main.scss */
.infobox .small-8 {
  padding-left: 0;
}
/* line 100, ../scss/main.scss */
.infobox .img-ctr {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
}
/* line 111, ../scss/main.scss */
.infobox .img-ctr img {
  width: 100%;
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/* line 117, ../scss/main.scss */
.infobox .text-ctr {
  width: 100%;
  padding: 5px 0;
}
/* line 123, ../scss/main.scss */
.infobox .text-ctr h4 {
  margin: 0;
  font-weight: bold;
  color: #ffffff;
}
/* line 129, ../scss/main.scss */
.infobox .text-ctr small {
  font-style: italic;
  color: #EBEBEB;
}
/* line 134, ../scss/main.scss */
.infobox .text-ctr p {
  color: #d2d2d2;
  font-size: .9em;
}
/* line 139, ../scss/main.scss */
.infobox .text-ctr p a {
  text-decoration: none;
  color: #d2d2d2;
}

/* line 147, ../scss/main.scss */
.light {
  color: #ffffff;
  border-color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
}

/* line 155, ../scss/main.scss */
.author {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: .7em;
  padding: 10px 0;
  margin-top: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 163, ../scss/main.scss */
.author, .author a {
  color: #cccccc;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 169, ../scss/main.scss */
.author a:hover {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 175, ../scss/main.scss */
  body {
    overflow: hidden;
  }
}

/* line 181, ../scss/main.scss */
.row {
  position: relative;
}

/* line 188, ../scss/main.scss */
.navbar.navbar-default {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  border: none;
  width: 100%;
  position: fixed;
  margin: 0;
  top: 0;
  z-index: 99;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /*  @media screen and (max-width: 900px){
      position: fixed;
      background: transparentize(#000000,.4);
    }*/
}
/* line 206, ../scss/main.scss */
.navbar.navbar-default li {
  margin: 0 10px;
  text-align: center;
}
/* line 211, ../scss/main.scss */
.navbar.navbar-default li .btn {
  padding: 10px 15px;
}
/* line 217, ../scss/main.scss */
.navbar.navbar-default li .fb-like, .navbar.navbar-default li .fb-share-button {
  padding: 7px 5px;
}
/* line 224, ../scss/main.scss */
.navbar.navbar-default li a {
  -moz-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  -webkit-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  color: #d9d9d9;
  font-size: 14px;
  border: 1px solid transparent;
  padding: 10px 5px;
  font-weight: 700;
}
/* line 69, ../scss/_mixins.scss */
.navbar.navbar-default li a:hover {
  background: none;
  color: white;
  text-decoration: none;
}
@media (max-width: 767px) {
  /* line 188, ../scss/main.scss */
  .navbar.navbar-default {
    padding: 0 10px;
  }
  /* line 240, ../scss/main.scss */
  .navbar.navbar-default #menu {
    background: rgba(0, 0, 0, 0.6);
  }
  /* line 243, ../scss/main.scss */
  .navbar.navbar-default #menu li {
    margin: 10px;
  }
  /* line 246, ../scss/main.scss */
  .navbar.navbar-default #menu li a {
    border: none;
  }
  /* line 249, ../scss/main.scss */
  .navbar.navbar-default #menu li a:hover:not(.btn) {
    border: none !important;
    background: rgba(0, 0, 0, 0.7);
  }
}
/* line 258, ../scss/main.scss */
.navbar.navbar-default .btn-primary {
  color: #e6e6e6;
}
/* line 260, ../scss/main.scss */
.navbar.navbar-default .btn-primary:hover {
  background: #2e96d0;
}
/* line 265, ../scss/main.scss */
.navbar.navbar-default .btn-default {
  color: #262626;
  background: #d9d9d9;
}
/* line 269, ../scss/main.scss */
.navbar.navbar-default .btn-default:hover {
  color: #000000;
  background: #ffffff;
}
/* line 275, ../scss/main.scss */
.navbar.navbar-default .navbar-toggle {
  float: left;
}
/* line 279, ../scss/main.scss */
.navbar.navbar-default .navbar-brand {
  padding: 10px 5px;
  font-size: 1em;
  font-family: 'Niconne', sans-serif !important;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  float: right;
}
/* line 288, ../scss/main.scss */
.navbar.navbar-default .navbar-brand img {
  height: 50px;
}

/* line 297, ../scss/main.scss */
#banner {
  height: 600px;
  width: 100%;
  padding-top: 100px;
  /*  background:
    -webkit-linear-gradient(45deg, hsla(334, 95%, 41%, 1) 0%, hsla(334, 95%, 41%, 0) 70%),
    -webkit-linear-gradient(315deg, hsla(78, 99%, 42%, 1) 10%, hsla(78, 99%, 42%, 0) 80%),
    -webkit-linear-gradient(225deg, hsla(336, 97%, 41%, 1) 10%, hsla(336, 97%, 41%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(39, 98%, 41%, 1) 100%, hsla(39, 98%, 41%, 0) 70%);
    background:
    linear-gradient(45deg, hsla(334, 95%, 41%, 1) 0%, hsla(334, 95%, 41%, 0) 70%),
    linear-gradient(135deg, hsla(78, 99%, 42%, 1) 10%, hsla(78, 99%, 42%, 0) 80%),
    linear-gradient(225deg, hsla(336, 97%, 41%, 1) 10%, hsla(336, 97%, 41%, 0) 80%),
    linear-gradient(315deg, hsla(39, 98%, 41%, 1) 100%, hsla(39, 98%, 41%, 0) 70%);*/
  background-image: url("../img/cover2.jpg");
  background-position: center;
  background-size: cover;
}
/* line 322, ../scss/main.scss */
#banner .row .text-container {
  text-align: center;
  color: #ffffff;
}
/* line 326, ../scss/main.scss */
#banner .row .text-container h3 {
  font-style: italic;
  font-weight: 400;
  font-family: Niconne, cursive !important;
  font-size: 1.8em;
}
/* line 333, ../scss/main.scss */
#banner .row .text-container h1 {
  text-transform: uppercase;
  font-size: 7em;
  font-weight: 700;
}
/* line 339, ../scss/main.scss */
#banner .row .text-container h2 {
  font-family: 'Niconne', cursive !important;
  font-size: 4em;
}

/* line 349, ../scss/main.scss */
#sub-nav {
  border: 10px solid black;
  border-left: none;
  border-right: none;
  background: -webkit-linear-gradient(45deg, black 0%, transparent 70%), -webkit-linear-gradient(315deg, #3b3b3b 10%, rgba(59, 59, 59, 0) 80%), -webkit-linear-gradient(225deg, #0f0f0f 10%, rgba(15, 15, 15, 0) 80%), -webkit-linear-gradient(135deg, black 100%, transparent 70%);
  background: linear-gradient(45deg, #000000 0%, rgba(0, 0, 0, 0) 70%), linear-gradient(135deg, #3b3b3b 10%, rgba(59, 59, 59, 0) 80%), linear-gradient(225deg, #0f0f0f 10%, rgba(15, 15, 15, 0) 80%), linear-gradient(315deg, #000000 100%, rgba(0, 0, 0, 0) 70%);
}
/* line 365, ../scss/main.scss */
#sub-nav ul {
  overflow: hidden;
}
/* line 369, ../scss/main.scss */
#sub-nav ul li {
  text-align: center;
  padding: 0;
}
/* line 373, ../scss/main.scss */
#sub-nav ul li a {
  -moz-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  -webkit-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  color: #d9d9d9;
  font-size: 1.5em;
  border: 1px solid transparent;
  padding: 10px 5px;
  font-weight: 700;
  margin: 0;
  width: 100%;
  display: block;
  color: #A5A5A5;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  font-weight: 700;
  font-size: 5em;
}
/* line 69, ../scss/_mixins.scss */
#sub-nav ul li a:hover {
  background: none;
  color: white;
  text-decoration: none;
}
/* line 385, ../scss/main.scss */
#sub-nav ul li a:hover {
  background: #1a1a1a;
  color: white;
}

/* line 396, ../scss/main.scss */
#intro {
  padding: 5% 0;
  background-size: cover;
  background: url("../img/curtain.jpg") top center;
  min-height: 500px;
  margin-bottom: 50px;
  -moz-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.7);
}
/* line 406, ../scss/main.scss */
#intro .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
/* line 412, ../scss/main.scss */
#intro .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 420, ../scss/main.scss */
#intro h1, #intro p {
  color: #e6e6e6;
  text-align: center;
}
/* line 425, ../scss/main.scss */
#intro h1 {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 431, ../scss/main.scss */
#intro hr {
  margin: 7px 0 28px;
}
/* line 435, ../scss/main.scss */
#intro p {
  line-height: 1.8;
  font-weight: 600;
}

/* line 17, ../scss/_mixins.scss */
#schedule table {
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 21, ../scss/_mixins.scss */
#schedule table .break td, #schedule table th {
  text-transform: uppercase;
}
/* line 26, ../scss/_mixins.scss */
#schedule table tr td, #schedule table tr th {
  color: #676767;
  padding: 12px 5px;
  font-size: .9em;
  text-align: center;
  line-height: 2;
}
/* line 34, ../scss/_mixins.scss */
#schedule table tr td ul li, #schedule table tr th ul li {
  list-style: none;
}
/* line 39, ../scss/_mixins.scss */
#schedule table tr td a, #schedule table tr th a {
  display: block;
  color: grey;
  font-size: .9em;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 45, ../scss/_mixins.scss */
#schedule table tr td a:hover, #schedule table tr th a:hover {
  color: black;
  text-decoration: none;
}
/* line 53, ../scss/_mixins.scss */
#schedule table th {
  font-size: 1em;
}
/* line 453, ../scss/main.scss */
#schedule .tab-nav {
  text-align: center;
  margin: 50px auto;
}
/* line 457, ../scss/main.scss */
#schedule .tab-nav li {
  display: inline;
}
/* line 460, ../scss/main.scss */
#schedule .tab-nav li a {
  padding: 10px 50px;
  margin-right: 20px;
  background: lightgrey;
  color: #000000;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 5px 3px 0 gray;
  -webkit-box-shadow: 0 5px 3px 0 gray;
  box-shadow: 0 5px 3px 0 gray;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 472, ../scss/main.scss */
#schedule .tab-nav li a:hover {
  background: #c6c6c6;
  text-decoration: none;
}
/* line 478, ../scss/main.scss */
#schedule .tab-nav li .active {
  background: deepskyblue;
  color: #ffffff;
}
/* line 482, ../scss/main.scss */
#schedule .tab-nav li .active:hover {
  background: deepskyblue;
}
/* line 491, ../scss/main.scss */
#schedule .table-container .table-responsive:not(:first-child) {
  display: none;
}
/* line 496, ../scss/main.scss */
#schedule .table-container table {
  background: #fcfcfc;
}
/* line 499, ../scss/main.scss */
#schedule .table-container table .break {
  background: #f0f0f0;
}
/* line 502, ../scss/main.scss */
#schedule .table-container table .break td {
  font-weight: 700;
}
/* line 505, ../scss/main.scss */
#schedule .table-container table .break td:nth-child(2) {
  text-align: center;
}
/* line 511, ../scss/main.scss */
#schedule .table-container table tr:not(.break) > td:not(:first-child) {
  width: 22%;
}

/* line 17, ../scss/_mixins.scss */
#venue table {
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 21, ../scss/_mixins.scss */
#venue table .break td, #venue table th {
  text-transform: uppercase;
}
/* line 26, ../scss/_mixins.scss */
#venue table tr td, #venue table tr th {
  color: #676767;
  padding: 12px 5px;
  font-size: .9em;
  text-align: center;
  line-height: 2;
}
/* line 34, ../scss/_mixins.scss */
#venue table tr td ul li, #venue table tr th ul li {
  list-style: none;
}
/* line 39, ../scss/_mixins.scss */
#venue table tr td a, #venue table tr th a {
  display: block;
  color: grey;
  font-size: .9em;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 45, ../scss/_mixins.scss */
#venue table tr td a:hover, #venue table tr th a:hover {
  color: black;
  text-decoration: none;
}
/* line 53, ../scss/_mixins.scss */
#venue table th {
  font-size: 1em;
}
/* line 521, ../scss/main.scss */
#venue table {
  text-align: center;
}
/* line 524, ../scss/main.scss */
#venue table td {
  font-weight: 700;
}

/* line 530, ../scss/main.scss */
#committee {
  background: url("../img/Bokeh-Wallpaper.jpg") bottom;
  background-size: cover;
  margin-top: 50px;
  -moz-box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.4);
}
/* line 536, ../scss/main.scss */
#committee h1 {
  color: #ffffff;
}
/* line 541, ../scss/main.scss */
#committee .quote {
  font-size: 2.5em;
  font-weight: 700;
  padding: 20px;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}
/* line 553, ../scss/main.scss */
#committee .email-contact p {
  color: #ffffff;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2em;
}
/* line 560, ../scss/main.scss */
#committee .email-contact a {
  margin: 3% auto;
  font-weight: 700;
  padding: 2% 10%;
  color: #ffffff;
  background-color: #964F00;
  border-color: #b05c00;
  -moz-box-shadow: 0 5px 10px 0 black;
  -webkit-box-shadow: 0 5px 10px 0 black;
  box-shadow: 0 5px 10px 0 black;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 570, ../scss/main.scss */
#committee .email-contact a:hover {
  background-color: #b05c00;
}

/* line 577, ../scss/main.scss */
#footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 5%;
  padding-top: 2%;
  position: static;
  bottom: 0;
}
/* line 585, ../scss/main.scss */
#footer h1 {
  margin-bottom: 5%;
  font-size: 5em;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
}
/* line 593, ../scss/main.scss */
#footer #sponsors {
  margin: 0 0 30px 0;
}
/* line 597, ../scss/main.scss */
#footer #sponsors .sponsor-container .sponsor-title {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: 15px 0;
  font-weight: 100;
  font-size: 1em;
}
/* line 606, ../scss/main.scss */
#footer #sponsors .sponsor-container [class*=sponsor-grid] .sponsor-image-container {
  display: block;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 35px;
}
/* line 617, ../scss/main.scss */
#footer #sponsors .sponsor-container .sponsor-grid-1 .sponsor-image-container {
  width: 100%;
  padding: 10%;
}
/* line 624, ../scss/main.scss */
#footer #sponsors .sponsor-container .sponsor-grid-2 .sponsor-image-container {
  width: 50%;
  padding: 5%;
}
/* line 634, ../scss/main.scss */
#footer ul#footer-links li {
  padding: 5px 0;
}
/* line 637, ../scss/main.scss */
#footer ul#footer-links li a {
  -moz-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  -webkit-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
  color: #d9d9d9;
  font-size: 14px;
  border: 1px solid transparent;
  padding: 10px 5px;
  font-weight: 700;
}
/* line 69, ../scss/_mixins.scss */
#footer ul#footer-links li a:hover {
  background: none;
  color: white;
  text-decoration: none;
}

/* line 644, ../scss/main.scss */
.bokeh-bg {
  background: url("../img/bokeh-bg.jpg");
}

/* line 648, ../scss/main.scss */
.other-wrapper {
  padding-top: 8%;
}

/* line 652, ../scss/main.scss */
.events-container {
  max-width: 1200px;
  padding: 0 15px;
  margin-bottom: 50px;
  background: #ffffff;
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 660, ../scss/main.scss */
.events-container .title {
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px;
  border-radius: 5px !important;
}
/* line 664, ../scss/main.scss */
.events-container .event-header-row {
  margin-bottom: 1%;
}
/* line 667, ../scss/main.scss */
.events-container .event-header-row hr {
  border-color: #A3A3A3;
  margin: 10px 0;
}
/* line 677, ../scss/main.scss */
.events-container .event-grid li a {
  display: block;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 684, ../scss/main.scss */
.events-container .event-grid li a img {
  min-height: 160px;
}
/* line 688, ../scss/main.scss */
.events-container .event-grid li a .event-name-container {
  padding: 10px;
  height: 60px;
  overflow: hidden;
  text-align: center;
}
/* line 695, ../scss/main.scss */
.events-container .event-grid li a .event-name-container p {
  margin: 0;
  font-weight: 600;
  font-size: .8em;
  color: #4d4d4d;
}
/* line 703, ../scss/main.scss */
.events-container .event-grid li a:hover {
  -moz-box-shadow: 0 5px 8px 0 rgba(59, 105, 150, 0.6);
  -webkit-box-shadow: 0 5px 8px 0 rgba(59, 105, 150, 0.6);
  box-shadow: 0 5px 8px 0 rgba(59, 105, 150, 0.6);
  text-decoration: none;
}
/* line 707, ../scss/main.scss */
.events-container .event-grid li a:hover h4 {
  color: #000000;
}

/* line 718, ../scss/main.scss */
.image-container {
  min-height: 30%;
}
/* line 721, ../scss/main.scss */
.image-container .team-text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  color: #ffffff;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
}
/* line 730, ../scss/main.scss */
.image-container .team-text .team-text-center {
  margin: 0 auto;
  width: 90%;
}
/* line 734, ../scss/main.scss */
.image-container .team-text .team-text-center h1 {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 700;
}

/* line 743, ../scss/main.scss */
.team-member-row {
  margin: 3% auto;
}
/* line 746, ../scss/main.scss */
.team-member-row h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  color: #ffffff;
}
/* line 756, ../scss/main.scss */
.team-member-row .team-grid li .infobox {
  max-height: 100px;
  padding: 5%;
}

/* line 766, ../scss/main.scss */
.rules-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 3% 5%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 5px 15px 1px black;
  -webkit-box-shadow: 0 5px 15px 1px black;
  box-shadow: 0 5px 15px 1px black;
}
/* line 772, ../scss/main.scss */
.rules-container li {
  font-weight: 700;
  line-height: 2;
}

/* line 780, ../scss/main.scss */
.add-records td, .add-records th {
  padding: 10px !important;
}
/* line 784, ../scss/main.scss */
.add-records td {
  font-size: .7em;
}
/* line 787, ../scss/main.scss */
.add-records td:nth-child(4) {
  width: 35%;
}
/* line 791, ../scss/main.scss */
.add-records td img {
  width: 70px;
}

/* line 797, ../scss/main.scss */
.bg-success {
  background: lightseagreen;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}

/* line 806, ../scss/main.scss */
#event-modal .modal-body {
  background: #ececec;
}
/* line 809, ../scss/main.scss */
#event-modal .modal-body img {
  border: 7px solid white;
  border-radius: 20px;
  -moz-box-shadow: 0px 5px 0 5px 10px 0px grey;
  -webkit-box-shadow: 0px 5px 0 5px 10px 0px grey;
  box-shadow: 0px 5px 0 5px 10px 0px grey;
}
/* line 815, ../scss/main.scss */
#event-modal .modal-body #event-name {
  padding: 10px;
  background: lightgrey;
  font-weight: 700;
  border-radius: 5px;
}
/* line 823, ../scss/main.scss */
#event-modal .modal-body #event-type {
  font-weight: 400;
  color: gray;
}
/* line 829, ../scss/main.scss */
#event-modal .modal-body pre {
  max-height: 300px;
  overflow: auto;
}
/* line 834, ../scss/main.scss */
#event-modal .modal-body hr {
  border-color: lightgrey;
}
/* line 839, ../scss/main.scss */
#event-modal .modal-footer {
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
