/* line 5, ../scss/mobile.scss */
.title {
  max-width: 330px;
  font-size: 2.2em;
  padding: 20px 10px;
  width: 90%;
}

/* line 13, ../scss/mobile.scss */
.modal-lg {
  width: 90%;
}
/* line 16, ../scss/mobile.scss */
.modal-lg h1 {
  font-size: 1.5em;
  margin: 20px 0 0;
}
/* line 21, ../scss/mobile.scss */
.modal-lg h3 {
  color: #454545;
  font-size: 1em;
}
/* line 26, ../scss/mobile.scss */
.modal-lg p {
  font-size: .8em;
}

/* line 32, ../scss/mobile.scss */
.other-wrapper {
  padding-top: 20%;
  margin: 0 2%;
}

/* line 39, ../scss/mobile.scss */
#banner {
  height: 500px;
  background: url("../img/cover-mobile.jpg") center;
  background-size: cover;
}
/* line 47, ../scss/mobile.scss */
#banner .row .text-container img {
  width: 120px;
}
/* line 51, ../scss/mobile.scss */
#banner .row .text-container h1 {
  font-size: 3.5em;
}
/* line 55, ../scss/mobile.scss */
#banner .row .text-container h2 {
  font-size: 2em;
}
/* line 59, ../scss/mobile.scss */
#banner .row .text-container h3 {
  font-size: 1em;
}

/* line 67, ../scss/mobile.scss */
#sub-nav .columns {
  padding: 0;
}
/* line 71, ../scss/mobile.scss */
#sub-nav ul li a {
  font-size: 2em;
}

/* line 76, ../scss/mobile.scss */
#intro {
  background: url("../img/curtain_mobile.jpg") no-repeat/cover;
}
/* line 80, ../scss/mobile.scss */
#intro .text-container {
  text-align: center;
}
/* line 84, ../scss/mobile.scss */
#intro .text-container h1 {
  font-size: 28px;
}
/* line 88, ../scss/mobile.scss */
#intro .text-container p {
  font-size: .8em;
}

/* line 98, ../scss/mobile.scss */
#schedule .tab-nav a {
  padding: 10px 25px !important;
  margin-right: 20px !important;
  font-size: 1.4em !important;
}
/* line 105, ../scss/mobile.scss */
#schedule table tr td {
  padding: 15px 10px;
}
/* line 109, ../scss/mobile.scss */
#schedule table tr td a {
  font-size: .9em;
}

/* line 117, ../scss/mobile.scss */
#committee {
  background: url("../img/Bokeh-Wallpaper_small.jpg");
  background-size: contain;
}
/* line 121, ../scss/mobile.scss */
#committee .quote {
  font-size: 1.5em;
  padding: 20px 0;
}
/* line 128, ../scss/mobile.scss */
#committee .email-contact p {
  font-size: 1.8em;
}
/* line 132, ../scss/mobile.scss */
#committee .email-contact a {
  margin: 1% auto;
  padding: 5% 0;
  width: 100%;
}
/* line 138, ../scss/mobile.scss */
#committee .text-ctr {
  height: auto;
}

/* line 144, ../scss/mobile.scss */
#footer {
  margin-top: 10%;
}
/* line 148, ../scss/mobile.scss */
#footer h1 {
  font-size: 3em;
  padding: 20px 0;
}
/* line 154, ../scss/mobile.scss */
#footer .sponsor-grid-1 .sponsor-image-container {
  padding: 20% !important;
}
/* line 160, ../scss/mobile.scss */
#footer .sponsor-grid-2 .sponsor-image-container {
  padding: 6% !important;
}
/* line 165, ../scss/mobile.scss */
#footer .sponsor-title {
  font-size: .9em !important;
}

/* line 172, ../scss/mobile.scss */
.infobox {
  padding: 10px 15px;
}
/* line 175, ../scss/mobile.scss */
.infobox h4 {
  font-size: .9em;
}
/* line 179, ../scss/mobile.scss */
.infobox p {
  font-size: .8em;
}

/* line 184, ../scss/mobile.scss */
.bokeh-bg {
  background: url("../img/bokeh-bg-small.jpg");
}

/* line 191, ../scss/mobile.scss */
.other-row h1 {
  margin: 40px 0 20px 0;
}
/* line 195, ../scss/mobile.scss */
.other-row p {
  font-size: medium;
}

/* line 201, ../scss/mobile.scss */
.image-container {
  padding: 15px;
  background: rgba(0, 0, 0, 0.7);
}
/* line 205, ../scss/mobile.scss */
.image-container .team-text {
  position: static;
  padding: 0;
  background: none;
}
/* line 210, ../scss/mobile.scss */
.image-container .team-text h1 {
  font-size: xx-large !important;
}
/* line 214, ../scss/mobile.scss */
.image-container .team-text p {
  font-size: small;
}

/* line 221, ../scss/mobile.scss */
.team-member-row h1 {
  font-size: 2em;
}

/* line 228, ../scss/mobile.scss */
.rules-container .title {
  font-size: 1.9em;
  width: 100%;
}
/* line 233, ../scss/mobile.scss */
.rules-container ul {
  padding: 20px;
}
/* line 236, ../scss/mobile.scss */
.rules-container ul li {
  font-size: .8em;
  padding: 5px 0;
}

/* line 246, ../scss/mobile.scss */
#event-modal .modal-body {
  padding: 10px;
}
/* line 253, ../scss/mobile.scss */
#event-modal .modal-body #event-name {
  font-size: 1.3em;
}

/*# sourceMappingURL=mobile.css.map */
