#navhind{
  background-image: url("../img/sponsors/navhind.png");
}

#dbtv{
  background-image: url("../img/sponsors/dbtv.png");
}

#bina{
  background-image: url("../img/sponsors/bina%20punjani.png");
}

#butterfly{
  background-image: url("../img/sponsors/butterfly.png");
}

#icici{
  background-image: url("../img/sponsors/iciciBank.png");
}

#bilsoft{
  background-image: url("../img/sponsors/bilsoft_logo.png");
}

#azzure{
  background-image: url("../img/sponsors/azzure.png");
}

#radio-mirchi{
  background-image: url("../img/sponsors/radioMirchi.png");
}