@import "compass";
@import "variables";
@import "mixins";

.title{
  max-width: 330px;
  font-size: 2.2em;
  padding: 20px 10px;
  width: 90%;
}


.modal-lg{
  width: 90%;

  h1{
    font-size: 1.5em;
    margin: 20px 0 0;
  }

  h3{
    color: rgb(69, 69, 69);
    font-size: 1em;
  }

  p{
    font-size: .8em;
  }
}


.other-wrapper{
  padding-top: 20%;
}



#banner{
  height: 550px;
  background: url("../img/Concert-stock3112_small.jpg") top;
  background-size: 120%;


  .row .text-container{
    h1{
      font-size: 3.5em;
    }

    h2{
      font-size: 2em;
    }
  }
}

#sub-nav{

  .columns{
    padding: 0;
  }

  ul li a{
    font-size: 2em;
    padding: 25px 0;
  }
}

#intro{

  background: url("../img/sys_media_2094_small.jpg") no-repeat 0 35% / cover;

  .text-container{
    text-align: center;
    margin-top: 450px;

    h1{
      font-size: 28px;
    }

    p{
      font-size: .8em;
    }
  }
}


#schedule {

  .tab-nav{
    a{
      padding: 10px 15px !important;
      margin-right: 20px !important;
      font-size: 1.8em !important;
    }
  }

  table tr td{

    padding: 15px 10px;

    a{
      font-size: .9em;
    }
  }
}



#committee {
  background: url("../img/Bokeh-Wallpaper_small.jpg") ;
  background-size: contain;

  .quote{
    font-size: 1.2em;
    padding: 20px 0;

  }

}

#footer h1{
  font-size: 3em;
  padding: 20px 0;
}

.infobox{
  padding: 10px 15px;

  h4{
    font-size: .9em;
  }

  p{
    font-size: .8em;
  }
}

.bokeh-bg{
  background: url("../img/bokeh-bg-small.jpg");
}


.other-row{

  h1{
    margin: 40px 0 20px 0;
  }

  p{
    font-size: medium;
  }
}


.image-container{
  padding: 15px;
  background: transparentize(#000000,.3);

  .team-text{
    position: static;
    padding: 0;
    background: none;

    h1{
      font-size: xx-large;
    }

    p{
      font-size: small;
    }
  }
}

.team-member-row{
  h1{
    font-size: 2em;
  }
}

.rules-container {

  .title{
    font-size: 1.9em;
    width: 100%;
  }

  ul{
    padding: 20px;

    li{
      font-size: .8em;
      padding: 5px 0;
    }
  }


}

#event-modal{
  .modal-body{
    padding: 10px;

    img{

    }

    #event-name{
      font-size: 1.3em;
    }

    #event-type{

    }

  }

}
